body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}
form {
    text-align: center;
    margin-top: 20px;
}
input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button[type="submit"]:hover {
    background-color: #45a049;
}
h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
li {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}
li:hover {
    background-color: #f9f9f9;
}
